.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.fieldContainer {
    margin-bottom: 16px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.field:focus {
    outline: none;
    border-color: #6e9ee1;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}


.addPerson {
    font-size: 15px;
    margin-left: 8px;
}