.item {
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center
}